.almuni{
  width:100%;   
   margin-top: 10px;
    border: 1px solid silver;
    border-radius: 5px;
	box-shadow:0px 0px 2px 3px silver;
}
#AL05{
	margin-top:5px;
}

#Al05,#Al06,#Al07{
	width:94%;
	height:50px;
	border:1px solid orange;
	border-radius:5px;
	margin-left:10px;
	background:#ffd699;
}
#Al01,#Al02{
	width:94%;
	height:50px;
	border:1px solid orange;
	border-radius:5px;
	margin-left:10px;
	background:#b3e0ff;
}